{% extends 'base/base.html' %}
{% load static %}
{% block content %}

         {% include "navbar.html" %}
         <!-- about section start -->
         <div class="about_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="about_img"><img src="{{about.image.url}}"></div>
                  </div>
                  <div class="col-md-6">
                     <h1 class="about_taital">{{about.titre}}</span></h1>
                     <p class="about_text">{{about.description}}</p>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>

{% endblock content %}
      <!-- about section end -->
   