{% extends 'base/base.html' %}
{% load static %}
{% block content %}
         {% include "navbar.html" %}
         <!-- doctor section start -->
         <div class="doctors_section layout_padding">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="taital_main">
                        <div class="taital_left">
                           <div class="play_icon"><img src="{% static 'images/play-icon.png' %}"></div>
                        </div>
                        <div class="taital_right">
                           <h1 class="doctor_taital">What doctors say..</h1>
                           <p class="doctor_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                           <div class="readmore_bt"><a href="#">Read More</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

{% endblock content %}
      <!-- doctor section end -->
   