{% extends 'base/base.html' %}
{% load static %}
{% block content %}

      <div class="header_section">
         <div class="container-fluid">
               <div class="main">
                  <div class="logo"><a href="index.html"><img src="{% static 'images/logo.png'  %}"></a></div>
                  <div class="menu_text">
                     <ul>
                        <div class="togle_">
                           <div class="menu_main">
                              <ul>
                                 <li><a href="#">Login</a></li>
                                 <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                              </ul>
                           </div>
                        </div>
                        <div id="myNav" class="overlay">
                           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                           <div class="overlay-content">
                              <a href="{% url 'index' %}">Home</a>
                              <a href="{% url 'protect' %}">Protect</a>
                              <a href="{% url 'about' %}">About</a>
                              <a href="{% url 'doctors' %}">Doctors</a>
                              <a href="{% url 'news' %}">News</a>
                           </div>
                        </div>
                        <span class="navbar-toggler-icon"></span>
                        <span onclick="openNav()"><img src="{% static 'images/toogle-icon.png' %}" class="toggle_menu"></span>
                        <span onclick="openNav()"><img src="{% static 'images/toogle-icon1.png' %}" class="toggle_menu_1"></span>
                     </ul>
                  </div>
               </div>
            </div>
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
               {% for banner in banners %}
                  <div class="carousel-item {% if forloop.first %} active {% endif %} ">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="container">
                              <h1 class="banner_taital">{{banner.titre}}</h1>
                              <p class="banner_text">{{banner.description}}</p>
                              <div class="more_bt"><a href="#">Read More</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_img"><img src="{{banner.image.url}}"></div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
               </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>            
      </div>
      <!-- banner section end -->
      </div>
      <!-- header section end -->
      <!-- protect section start -->
      
      <div class="protect_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="protect_taital">How to Protect Yourself</h1>
                  <p class="protect_text">English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for</p>
               </div>
            </div>
            <div class="protect_section_2 layout_padding">
               <div class="row">
                  {% for protect in protects %}
                  <div class="col-md-6">
                        {% for option in protect.ProtectOption.all %}
                     <h1 class="hands_text"><a href="#">{{option.nom}}</a></h1>
                        {% endfor %}
                  </div>
                  <div class="col-md-6">
                     <div class="image_2"><img src="{{protect.image.url}}"></div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <!-- protect section end -->
      <!-- about section start -->
   
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_img"><img src="{{about.image.url}}"></div>
               </div>
               <div class="col-md-6">
                  <h1 class="about_taital">{{about.titre}}</span></h1>
                  <p class="about_text">{{about.description}}</p>
                  <div class="read_bt"><a href="#">Read More</a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- doctor section start -->
      <div class="doctors_section layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <div class="taital_main">
                     <div class="taital_left">
                        <div class="play_icon"><img src="{% static 'images/play-icon.png' %}"></div>
                     </div>
                     <div class="taital_right">
                        <h1 class="doctor_taital">{{doctor.titre}}</h1>
                        <p class="doctor_text">{{doctor.description}}</p>
                        <div class="readmore_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- doctor section end -->
      <!-- news section start -->
     
      <div class="news_section layout_padding">
         <div class="container">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  {% for new in news %}
                  <div class="carousel-item {% if forloop.first %} active {% endif %} ">
                     <h1 class="news_taital">Latest News</h1>
                     <p class="news_text">when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
                     <div class="news_section_2 layout_padding">
                        <div class="box_main">
                           <div class="image_1"><img src="{{new.image.url}}"></div>
                           <h2 class="design_text">{{new.titre}}</h2>
                           <p class="lorem_text">{{new.description}}</p>
                           <div class="read_btn"><a href="#">Read More</a></div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
            </div>
         </div>
      </div>
      <!-- news section end -->
      <!-- update section start -->
      <div class="update_section">
         <div class="container">
            <h1 class="update_taital">Get Every Update.... </h1>
            <form action="#" id="app" method="POST">{% csrf_token %}
               <div class="form-group">
                   <textarea class="update_mail" placeholder="email" rows="5" id="comment" name="email" v-model="email"></textarea>
               </div>
               <div class="subscribe_bt" @click.prevent="postmail"><a href="#">Subscribe Now</a></div>
            </form>
         </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
         constapp = new Vue({
        el: '#app',
        delimiters : ['%{', '}'],
        data: {
            email: ''
        },
        methods:{
            postmail(){
               if(!this.email || !/(\w\.?)+@(\w\.?)+\.[a-zA-Z]{2,3}/.test(this.email)){
                    Swal.fire({
                    icon: 'error',
                    text: 'veuillez saisir un email valide ',
                    showConfirmButton: false,
                    timer : 2000
                    })
                }
                else{
                    let form = new FormData()
                    form.append("email", JSON.stringify(this.email))
                    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                    axios.defaults.xsrfCookieName = 'csrftoken'
                    
                    axios.post("{% url 'postmail' %}", form)
                    .then((response) =>{
                        if (response.data.success){
                           Swal.fire({
                            icon: 'success',
                            text: response.data.message,
                            timer : 2000
                            }) 
                        }
                        else{
                           Swal.fire({
                            icon: 'error',
                            text: response.data.message,
                            showConfirmButton: false,
                            timer : 2000
                            })
                        }
                    })
                    .catch((e) => {
                        console.log(e)
                    })
                }

            }
        }
})
      
</script>
{% endblock %}

 