 {% load static %}
 <!--header section start -->
<div class="header_section header_bg">
<div class="container-fluid">
        <div class="main">
            <div class="logo"><a href="index.html"><img src="{% static 'images/logo.png' %}"></a></div>
            <div class="menu_text">
            <ul>
                <div class="togle_">
                    <div class="menu_main">
                        <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div id="myNav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="overlay-content">
                        <a href="{% url 'index' %}">Home</a>
                        <a href="{% url 'protect' %}">Protect</a>
                        <a href="{% url 'about' %}">About</a>
                        <a href="{% url 'doctors' %}">Doctors</a>
                        <a href="{% url 'news' %}">News</a>
                    </div>
                </div>
                <span class="navbar-toggler-icon"></span>
                <span onclick="openNav()"><img src="{% static 'images/toogle-icon.png' %}" class="toggle_menu"></span>
                <span onclick="openNav()"><img src="{% static 'images/toogle-icon1.png' %}" class="toggle_menu_1"></span>
            </ul>
            </div>
        </div>
    </div>
    <!-- banner section start -->
    <div class="container">
        <div class="about_taital_main">
            <h2 class="about_tag">Doctors Corona Virus</h2>
            <div class="about_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Doctors</li>
            </ul>
            </div>
        </div>
    </div>
<!-- banner section end -->
</div>