{% extends "base/base.html" %}
{% load static %}

{% block content %}
      {% include "navbar.html" %}
      <!-- protect section start -->
      <div class="protect_section layout_padding">
         <div class="container">
            <div class="row">
            
               <div class="col-sm-12">
                  <h1 class="protect_taital">How to Protect Yourself</h1>
                  <p class="protect_text">English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for</p>
               </div>
            </div>
            <div class="protect_section_2 layout_padding">
               <div class="row">
               {% for protect in protects %}
                  
                  <div class="col-md-6">
                     {% for option in protect.ProtectOption.all %}
                        <h1 class="hands_text"><a href="#">{{option.nom}}</a></h1>
                     {% endfor %}
                  </div>
                  <div class="col-md-6">
                     <div class="image_2"><img src="{{protect.image.url}}"></div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <!-- protect section end -->

{% endblock content %}
 